<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>phoneBook</title>
  <script type="text/javascript" src="js/vendor/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/vendor/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/utils.js"></script>
  <script type="text/javascript" src="js/main.js"></script>
  <link rel="stylesheet" type="text/css" href="css/vendor/bootstrap.min.css"/>
  <link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>
<body>
<div id="status">open</div>
<div id="name"></div>
<p>Drag the Image into the field:</p>

<div id="div1" class="container" ondrop="drop(event)" ondragover="allowDrop(event)">

  <img src="img/cloud.png" class="cloud" alt="Drop images here">
</div>
<div id="result"></div>

</body>

</html>